.yellowEffect:hover {
    color: #ffc300;
}

.ranceTitle {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.bigTitle {
    background-color: #222;
}

.ranceTitle span,
.footerTitle span {
    font-weight: 900;
    color: #ffc300;
}

.footer {
    white-space: nowrap;
    background-color: #222;
}