
/*
.welcomeTitle {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navigation1 {
    margin-bottom: 5%;
}

.boutons{
    display: flex;
    justify-content: space-around;
} */ 

/*.exempleimg {
    width: 30%;
    height: 25%;
    padding-right: 1%;
}*/

.element-list {
    margin-left: 1%;
    margin-right: 1%; 
    width: 99%;
}

/*******************************************************************
**************************Aside css**********************************
********************************************************************/

.asideDiv{
    background: url("https://www.ladepeche.fr/img/textures/thin-color.png") #c6c6c6;
    content: '';
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px; 
}
::before{
    box-sizing: inherit;
}



/************************************************************************
***********************SortDivCss**************************************************
*************************************************************************/
.sortDiv{
    border: solid #ffc300;
    padding: 0.5em;
    justify-content: flex-end;
}

.sortButton{
    margin-right: 1em;
}