.yellowEffect:hover {
    color: #ffc300;
}

.ranceTitle {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.bigTitle {
    background-color: #222;
}

.ranceTitle span,
.footerTitle span {
    font-weight: 900;
    color: #ffc300;
}

h4,
h2 {
    font-weight: bold;
}

.accroche {
    font-family: Arial, Helvetica, sans-serif;
}

.readMore {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.footer {
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8e9eab, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8e9eab, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footerLink {
    color: black;
    font-size: medium;
}