ul.timeline {
    list-style-type: none;
    position: relative;
}
/* Réalisation de la barre verticale entre les cercles */
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
/* Marge Block Textes */
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    border-bottom: 1px solid black
}
/* Cercle */
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*Contrôle taille fil d'info dans le block "jumbotron" */
.newsFeed p{
height: 50px;
overflow: hidden;
}

/*********************************************************************
**********************DropDown Menu in pure CSS by Emilie*************
**********************************************************************/


 /* Dropdown Button */
 .dropButton {
    background-color: #fff;
    padding: 16px;
    font-weight: bold;
    border: none;
  }
  
  /* The container <nav> */
  .dropdownMenu {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #9f9f9f;
    border-top: solid 1px #9f9f9f;
  }

  /* The container ul for list of titles menu*/
  .dropdownMenu ul{display: flex;margin:0;}

  .listInDropdown{
      display: flex;
      flex-direction: column;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownContent a {
    color: black;
    padding: 0 6px;
    text-decoration: none;
    display: block;
  }
  .aMenu{
    text-decoration: none;
    font-weight: bold;
  }
  .aMenu:hover{
      text-decoration: none;
      color: #ffc300;
  }
 
  
  /* Change color of dropdown links on hover */
  .dropdownContent a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .animation:hover .dropdownContent, .sciences:hover .dropdownContent,
  .viePratique:hover .dropdownContent, .fitness:hover .dropdownContent, 
  .natureAnimaux:hover .dropdownContent, .politique:hover .dropdownContent, 
  .cuisine:hover .dropdownContent, .histoire:hover .dropdownContent, 
  .beauty:hover .dropdownContent {display: block; border-top:solid 3px #ffc300 ;}
  
  /* Change the color of the dropdown button when the dropdown content is shown */
  .dropButton:hover {color:#ffc300;} 

  @media (max-width: 992px){
    .animation:hover .dropdownContent, .sciences:hover .dropdownContent,
    .viePratique:hover .dropdownContent, .fitness:hover .dropdownContent, 
    .natureAnimaux:hover .dropdownContent, .politique:hover .dropdownContent, 
    .cuisine:hover .dropdownContent, .histoire:hover .dropdownContent, 
    .beauty:hover .dropdownContent{display: none;}

    .dropdownMenu a {
        font-size: 1.2em;
    }
    .dropdownMenu{
        overflow: scroll;
    }

  }

/**********************************************************************
**********************end CSS dropDown menu****************************
**********************************************************************/