
/*
.welcomeTitle {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navigation1 {
    margin-bottom: 5%;
}

.boutons{
    display: flex;
    justify-content: space-around;
} */

.exempleimg {
    /*width: 30%;
    height: 25%;*/
    border-radius: 3px;
}

/*******************************************************************
**************************Aside css**********************************
********************************************************************/

.asideDiv{
    background: url("https://www.ladepeche.fr/img/textures/thin-color.png") #c6c6c6;
    content: '';
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px; 
}
::before{
    box-sizing: inherit;
}



/************************************************************************
***********************SortDivCss**************************************************
*************************************************************************/
.sortDiv{
    border: solid #ffc300;
    padding: 1em;
    padding-right: 3em;
    justify-content: flex-end;
}

.sortButton{
    margin-right: 1em;
}
/*********************************************************************
**********************DropDown Menu in pure CSS by Emilie*************
**********************************************************************/


 /* Dropdown Button */
 .dropButton {
    background-color: #fff;
    padding: 16px;
    font-weight: bold;
    border: none;
  }
  
  /* The container <nav> */
  .dropdownMenu {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #9f9f9f;
    border-top: solid 1px #9f9f9f;
  }

  /* The container ul for list of titles menu*/
  .dropdownMenu ul{display: flex;margin:0;}

  .listInDropdown{
      display: flex;
      flex-direction: column;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownContent a {
    color: black;
    padding: 0 6px;
    text-decoration: none;
    display: block;
  }
  .aMenu{
    text-decoration: none;
    font-weight: bold;
  }
  .aMenu:hover{
      text-decoration: none;
      color: #ffc300;
  }
 
  
  /* Change color of dropdown links on hover */
  .dropdownContent a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .animation:hover .dropdownContent, .sciences:hover .dropdownContent,
  .viePratique:hover .dropdownContent, .fitness:hover .dropdownContent, 
  .natureAnimaux:hover .dropdownContent, .politique:hover .dropdownContent, 
  .cuisine:hover .dropdownContent, .histoire:hover .dropdownContent, 
  .beauty:hover .dropdownContent {display: block; border-top:solid 3px #ffc300 ;}
  
  /* Change the color of the dropdown button when the dropdown content is shown */
  .dropButton:hover {color:#ffc300;} 

  @media (max-width: 992px){
    .animation:hover .dropdownContent, .sciences:hover .dropdownContent,
    .viePratique:hover .dropdownContent, .fitness:hover .dropdownContent, 
    .natureAnimaux:hover .dropdownContent, .politique:hover .dropdownContent, 
    .cuisine:hover .dropdownContent, .histoire:hover .dropdownContent, 
    .beauty:hover .dropdownContent{display: none;}

    .dropdownMenu a {
        font-size: 1.2em;
    }
    .dropdownMenu{
        overflow: scroll;
    }

  }

/**********************************************************************
**********************end CSS dropDown menu****************************
**********************************************************************/